@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100%;
}

body {
    height: max-content;
    width: 100%;
}

.slick-dots {
    bottom: 0 !important;
}

.slick-dots li {
    width: 8px !important;
    height: 8px !important;
    background-color: #333;
    border-radius: 50%;
}

.slick-dots li button::before {
    content: "" !important;
}

li.slick-active {
    width: 15px !important;
    height: 8px !important;
    border-radius: 999px !important;
    background-color: #25aa52 !important;
}

.slide {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
