.wallet {
    position: relative;
}

.wallet::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: center
        url("https://h5.edgexads.co/assets/dashboard-bg.e97f274c.jpg") no-repeat;
    background-size: cover;
    border-radius: inherit;
    margin: 1.5px;
}
